     /* Produtos */
    .produtos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    }

    .produto {
    background-color: white;
    padding: 15px 20px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    }

    .produto-info {
    padding-left: 25px;
    }

    .produto-checkout {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: end;
    }

    .produto-delete {
    background-color: white;
    padding: 5px 10px;
    color: var(--accent-1);
    border-color: var(--accent-2);
    font-size: 14px;
    }

    .produto-image-container {
    position: relative;
    }

    .produto-quantidade-container {
    position: absolute;
    top: 8px;
    right: -15px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    }

    .produto-quantidade {
    background-color: var(--primary-1);
    color: white;
    border-radius: 50%;
    font-size: 14px;
    width: 23px;
    height: 23px;
    display: grid;
    place-items: center;
    }

    .produto-image {
    background-color: var(--neutral-5);
    padding: 10px;
    border-radius: 20px;
    transition: transform 180ms ease-out;
    }
    .produto:nth-child(2n):hover .produto-image {
    transform: scale(1.01) rotateZ(2deg);
    }
    .produto:nth-child(2n + 1):hover .produto-image {
    transform: scale(1.01) rotateZ(-2deg);
    }

    .produto h3,
    .produto p {
    margin: 0;
    }